<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <h3>Profile<h4>
                <h4>Name : <input type="text" ng-model="user.name"/></h4>
                <h4>Email : <input type="email" ng-model="user.email"/></h4>
                <h4>Password : <input type="password" ng-model="user.password"/></h4>
                <h4>Password confirmation : <input type="password" ng-model="user.password_confirmation"/></h4>
                <h4>registered : {{user.created_at}}</h4>
                <h4><a href="" ng-click="update(user)">Send</a></h4>
    </div>
        <h3>Tweet</h3>
    </div>
